*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid black;
}

.nav a{
    text-decoration: none;
    font-size: 24pt;
    font-family: 'Philosopher', sans-serif;
    font-style: bold;
    line-height: normal;
    text-transform: uppercase;
    color: #1a1a1a;
    transition: all 1s ease 0s
}

.nav a:hover{
    color: rgb(97, 97, 97);
    font-size: 28pt;
}

.nav{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.block{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
}

.textBlock{
    background-color: #ececec;
    width: 60%;
    margin-left: 2%;
    border-right: 20px white solid;
    height: 1000px;
}

.imgBox{
    width: 40%;
    height: 1000px;
    margin-right: 2%;
    border-left: 20px white solid;
    background: url("img/Hellawes-Page.png") 100% 100% no-repeat;
    background-size: cover;
}

.imgBox1{
    width: 40%;
    height: 1000px;
    margin-left: 2%;
    border-right: 20px white solid;
    background: url("img/Vishnya-Page.png") 100% 100% no-repeat;
    background-size: cover;
}

.imgBox2{
    width: 40%;
    height: 1000px;
    margin-right: 2%;
    border-left: 20px white solid;
    background: url("img/Lyoha-Page.png") 100% 100% no-repeat;
    background-size: cover;
}

.imgBox3{
    width: 40%;
    height: 1000px;
    margin-left: 2%;
    border-right: 20px white solid;
    background: url("img/Frol-Page.png") 100% 100% no-repeat;
    background-size: cover;
}

.imgBox4{
    width: 40%;
    height: 1000px;
    margin-right: 2%;
    border-left: 20px white solid;
    background: url("img/DimaK-Page.png") 100% 100% no-repeat;
    background-size: cover;
}

.textBlock1{
    background-color: #ececec;
    width: 60%;
    margin-right: 2%;
    border-left: 20px white solid;
    height: 1000px;
}

.textBlock h1{
    padding-top: 8%;
    font-size: 45pt;
    font-family: 'Philosopher', sans-serif;
    line-height: normal;
    text-align: center;
}

.textBlock p{
    font-size: 18pt;
    font-family: 'Philosopher', sans-serif;
    line-height: normal;
    text-align: justify;
    padding: 5%;
}

.textBlock1 h1{
    padding-top: 8%;
    font-size: 45pt;
    font-family: 'Philosopher', sans-serif;
    line-height: normal;
    text-align: center;
}

.textBlock1 p{
    font-size: 18pt;
    font-family: 'Philosopher', sans-serif;
    line-height: normal;
    text-align: justify;
    padding: 5%;
}

.outro {
    height: 50px;
    width: 100%;
    background-color: #1a1a1a;
}

.outro p{
    font-size: 18pt;
    font-family: 'Philosopher', sans-serif;
    line-height: normal;
    text-align: center;
    color: white;
    transform: translateY(50%);
}