*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid black;
}

.nav a{
    text-decoration: none;
    font-size: 24pt;
    font-family: 'Philosopher', sans-serif;
    font-style: bold;
    line-height: normal;
    text-transform: uppercase;
    color: #1a1a1a;
    transition: all 1s ease 0s
}

.nav a:hover{
    color: rgb(97, 97, 97);
    font-size: 28pt;
}

.nav{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.outro {
    height: 50px;
    width: 100%;
    background-color: #1a1a1a;
}

.container{
    height: 100%;
    margin-top: 75px;
}

.titles{
    margin: 5%;
}

.titles h1{
    padding-top: 2%;
    font-size: 45pt;
    font-family: 'Philosopher', sans-serif;
    line-height: normal;
    text-align: center;
}

.titles p{
    font-size: 18pt;
    font-family: 'Philosopher', sans-serif;
    line-height: normal;
    text-align: justify;
    padding: 0 5%;
}

A {
    color: #363636; /* Цвет ссылок */
}

A:visited {
    color: #7a7a7a; /* Цвет посещенных ссылок */
}

A:active {
    color: #443439; /* Цвет активных ссылок */
}

.titles h1{
    padding-bottom: 2%;
}
.outro p{
    font-size: 18pt;
    font-family: 'Philosopher', sans-serif;
    line-height: normal;
    text-align: center;
    color: white;
    transform: translateY(50%);
}