*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid black;
}

.nav a{
    text-decoration: none;
    font-size: 24pt;
    font-family: 'Philosopher', sans-serif;
    font-style: bold;
    line-height: normal;
    text-transform: uppercase;
    color: #1a1a1a;
    transition: all 1s ease 0s
}

.nav a:hover{
    color: rgb(97, 97, 97);
    font-size: 28pt;
}

.nav{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.tablink {
    background-color: rgba(82, 67, 49, 0.3);
    color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 28px;
    font-family: 'Philosopher', sans-serif;
    width: 16%;
    height: 100px;
}
.tablink:hover {
    background-color: rgba(82, 67, 49, 0.1);
}

.tabcontent {
    color: #1a1a1a;
    font-family: 'Philosopher', sans-serif;
    font-size: 20pt;
    display: flex;
    padding: 50px;
    height: 100%;
    justify-content: space-between;
}

.container{
    margin-top: 75px;
    height: 100%;
}

.outro {
    height: 50px;
    width: 100%;
    background-color: #1a1a1a;
}

.outro p{
    font-size: 18pt;
    font-family: 'Philosopher', sans-serif;
    line-height: normal;
    text-align: center;
    color: white;
    transform: translateY(50%);
}